#jChecs 0.1.0 configuration file
#Wed Apr 22 08:32:35 CEST 2026
cellsSize=80
enableSounds=true
flipView=false
highlightLastMove=true
highlightValids=true
lf.board=0
lf.pieces=0
panel.clock.folded=false
panel.eval.folded=false
panel.lf.folded=true
panel.players.folded=false
panel.recorder.folded=false
panel.scoresheet.folded=false
panel.settings.folded=true
player.blacks.depth=5
player.blacks.human=false
player.blacks.name=NegaScout
player.whites.depth=0
player.whites.human=true
player.whites.name=Human
showCaptures=true
showCoords=true
showFEN=true
showMenuBar=true
showToolBar=true
